{
  "RapidFireFixMethod": 1,
  "RapidFirePrintMessage": true,
  "TeleportPrintMessage": true,
  "RapidFireReflectScale": 1,
  "AllowedAwpCount": -1,
  "AllowedScoutCount": -1,
  "AllowedAutoSniperCount": -1,
  "UnmatchedFriendlyFire": true,
  "RestrictTeleport": true,
  "AllowAdPrint": true,
  "AllowSettingsPrint": true,
  "AllowResetScore": true,
  "RestrictMetaCommands": true,
  "AllowRageQuit": true,
  "ChatPrefix": "[{Red}Hv{DarkRed}H{Default}.gg]",
  "CustomVoteSettings": {
    "FriendlyFireVote": true,
    "TeleportFixVote": true,
    "RapidFireVote": "full",
    "Style":"center"
  },
  "ConfigVersion": 5
}